

<div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel" >

  <ol class="carousel-indicators">
    <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
    <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
    <li data-target="#carouselExampleCaptions" data-slide-to="3"></li>
    <li data-target="#carouselExampleCaptions" data-slide-to="4"></li>
  </ol>

  <div class="carousel-inner" >


    <div class="carousel-item active" style="background-color: #fff;">

      <%= image_tag 'plano/fundo_branco.png', class: 'img-fluid d-block' %>
      <div class="carousel-caption " >
        
        <%= image_tag 'logo.png', class: 'img-fluid' , id: 'logo' %>
        
      </div>


    </div>


    <div class="carousel-item">
     <%= image_tag 'plano/fundo1.png', class: 'img-fluid d-block'  %>
     <div class="carousel-caption " >
      <h3>Aviso de Funcionamento do Escola</h3>
      <li> <p  class="text-justify " >Nos dias 01 e 02 de abril a escola estará aberta de 7h:00mim as 11h:00mim e das 13h:00mim as 17h:00mim.
      </p></li><li>
        <p class="text-justify" >Nos demais dias só pela manhã de 7h:30mim as 11h:00mim.</p></li>
      </div>
    </div>



    <div class="carousel-item">
      <%= image_tag 'plano/fundo2.jpg', class: 'img-fluid d-block'  %>
      <div class="carousel-caption">
        <h3>Trabalhos Avaliativos</h3>
        <li><p class="text-justify" >Informamos que os trabalhos avaliativos dos alunos do fundamental I e II, estão disponíveis e poderão vir buscar na escola nos dias 01 e 02 de Abril.</p></li>
        <li> <p class="text-justify" >A devolução desses trabalhso ocorrerá somente nos dias 06 e 07 (segunda e terça) na Escola.</p></li>
        <li><p class="text-justify" >Lembrando que esse trabalho é referente a nota do mês de março.</p></li>

      </div>
    </div>


    <div class="carousel-item">
      <%= image_tag 'plano/fundo3.jpg', class: 'img-fluid d-block'  %>
      <div class="carousel-caption">
        <h2>Estudos Domiciliares</h2>
        <li><p class="text-justify" >Em breve a Escola disponibilizará platafoma para as aulas online.</p></li>
      </div>
    </div>



    <div class="carousel-item">
      <%= image_tag 'plano/fundo.png', class: 'img-fluid d-block'  %>
      <div class="carousel-caption">
        <h5>NOTA OFICIAL</h5>
        <p class="text-justify" >Senhores pais e alunos, o Educandário Nossa Senhora de Fátima comunica que, de acordo com o decreto de prorrogação da suspensão das aulas presenciais dado pelo Governador do estado, decidimos continuar com as <b>aulas não presenciais</b> até o dia 09 de abril com o envio de atividades de forma digital, e com os professores dando todo o suporte necessário.</p>
        <p class="text-justify" >As <b>férias</b> serão antecipadas do dia 13 ao dia 30 de abril.</p>
        <p class="text-justify" >Durante esse período a escola estará aberta pela manhã para emissão de documentos e pagamentos de boletos.</p>
      </div>
    </div>
  </div>

  <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>


</div>
</div>

<hr>

<div class="container marketing">
  <div class="row">
    <div class="col-lg-4">
      <%= image_tag 'covid.jpg', class: 'bd-placeholder-img rounded-circle w-50 p-3'  %>
      <h2>COVID-19</h2>
      <p>Ele causa problemas respiratórios semelhantes à gripe e sintomas como tosse, febre e, em casos mais graves, dificuldade para respirar. Como prevenção, lave as mãos com frequência e evite tocar o rosto e ter contato próximo (um metro de distância) com pessoas que não estejam bem.</p>
      <p><a class="btn btn-secondary" href="https://coronavirus.saude.gov.br/" role="button" target="_blank">Informações &raquo;</a></p>
    </div><!-- /.col-lg-4 -->
    <div class="col-lg-4">
      <%= image_tag 'ead.jpg', class: 'bd-placeholder-img rounded-circle w-50 p-3'  %>
      <h2>Aulas Online</h2>
      <p>As “Aula em Casa” é uma solução multiplataforma para a transmissão de aulas à distância para os alunos do Educandário, em virtude do isolamento por conta da pandemia.</p>

      
    </div><!-- /.col-lg-4 -->
    <div class="col-lg-4">
      <%= image_tag 'foto03.jpg', class: 'bd-placeholder-img rounded-circle w-50 p-3'  %>
      <h2>Antecipação das Férias</h2>
      <p>As férias dos alunos do Educandário Nossa Senhora de Fátima, serão antecipadas do dia 13 ao dia 30 de abril.</p>
    </div><!-- /.col-lg-4 -->
  </div><!-- /.row -->
</div>

<hr>

<div class="container">

  <div class="card ">
    <div class="card-header  text-white" style="background-color: #e77817">
      <b>Confira as fotos dos últimos eventos que aconteceram no Colégio Educandário</b>
    </div>

    <div class="card-body" align="center">

      <div class="row">

        <div class="col-sm-12 col-md-6 col-lg-4 mt-2">

          <div class="card" style="width: 18rem ;">
            <%= image_tag 'foto01.jpg', class: 'img-fluid', id:'evento'  %>
            <div class="card-body">
              <p class="card-text text-justify">Estamos em Desenvolvimento.</p>
            </div>
          </div>
        </div>


        <div class="col-sm-12 col-md-6 col-lg-4 mt-2">

          <div class="card" style="width: 18rem;">
            <%= image_tag 'foto02.jpg', class: 'img-fluid' , id:'evento' %>
            <div class="card-body">
              <p class="card-text text-justify">Estamos em Desenvolvimento.</p>
        <%= controller.controller_name %>

            </div>
          </div>
        </div>

        <div class="col-sm-12 col-md-6 col-lg-4 mt-2">

          <div class="card" style="width: 18rem;">
            <%= image_tag 'logo.png', class: 'img-fluid' , id:'evento' %>
            <div class="card-body">
              <p class="card-text text-justify">Estamos em Desenvolvimento.</p>

            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>

