<!DOCTYPE html>
<html lang="pt-br">
<head>
  <title>Educandário Nossa Senhora de Fátima</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_pack_tag 'application' %>
  <%= javascript_pack_tag 'application' %>
  <%= favicon_link_tag 'favicon.ico' %>



</head>

<body data-flash-messages="<%= JSON.dump(flash.to_a) %>">



  <div class="contanier">

    
    <nav class="navbar navbar-expand-lg navbar-dark border-bottom " style="background-color: #28166f">


        <ul class="navbar-nav">
          <%= link_to 'Voltar', ead_index_path, class: 'navbar-brand', data: { confirm: "Você já finalizou a prova?" } %>
        </ul>


      </nav>

      <%= yield %>

  </div>

</body>
</html>



